* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.font-open-sans {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}

.btn {
    background-color: #FD6E0A;
    border: none;
    padding: 18px;
    border-radius: 9px;
    font-size: 15px;
    font-weight: bold;
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#about {
     font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.section-heading {
    max-width: 827px; 
    text-align: center;
}

.section-heading h2 {
    font-weight: bold;
    margin-bottom: 30px;
}

.section-heading p {
    font-size: 18px;
    margin-bottom: 30px ;
    line-height: 23px;
    color: #757575;
}


.logo h2 {
    font-size: 45px;
    font-weight: 900;
}

.color-orange {
    color: #fd6e0a;
}

header {
    min-height: 100vh;
    background-color: #fff8f3;
    background: url(images/developer.png),
    url(images/header_bg.png),  #fff8f3;
    background-position: 20px center, bottom right;
    background-repeat: no-repeat;
    background-size: auto 90%, auto 100%;
    padding-top: 70px;
}

nav {
    width: 60%;
    max-width: 1000px;
    border:1px solid none;
    margin:  0px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav .menu {
    display: flex;
    list-style-type: none;
    gap: 60px;
    align-items: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

nav .menu a {
    font-size: 18px;
    color:#474747;
    text-decoration: none;
}

#banner {
    /*border: 1px solid rgb(245, 7, 7);*/
    margin: 47px 130px 0px 230px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#banner .banner-content {
    max-width: 600px;
}

#banner .banner-content h2 {
   font-size: 38px;
   font-weight: 600;
   color: #474747;
   margin-bottom: 5px;
} 

#banner .banner-content h1 {
    font-size: 50px;
    font-weight: bold;
    color: #181818;
    margin-bottom: 20px;
}

#banner .banner-content p {
    font-size: 15px;
    color: black;
    line-height: 30px;
    margin-bottom: 30px;
}

.banner-image {
     margin-top: 49px;
}

#banner .banner-content img {
    max-width: 1000px;
    vertical-align: middle;
}

#about {
    padding-top: 140px;
    /*padding-bottom: 232px;
    background-color: rgb(87, 90, 72);*/
}

#about .about-container {
    width: 60%;
    max-width: 1000px;
    margin: 0 auto;
    text-align: center;
    background-color: #FFF8F3;
    padding: 130px 150px ;
}

#about .about-container .about-info {
    display: flex;
    justify-content: space-around;
    gap: 15px; 
}

.about-info .info-card p {
    font-size: 10x;
    line-height: 30px;
    color: #757575
}

.about-info .info-card h4 {
    font-size: 16px;
}
